node_modules

/.cache
/build
/public/build
.env
/app/tailwind.css
/jsonDocs
.DS_Store
/dist
/dist-desktop
/src-tauri/target
.mf
/meta.json
/stats.html
public/entry.worker.js
public/desktop-json-worker.js
AuthKey_*.p8
